@font-face {
    font-family: MyriadProSemiBold;
    src: url('fonts/Myriad Pro Semibold.ttf');
}
@font-face {
    font-family: MyriadProRegular;
    src: url('fonts/Myriad Pro Regular.ttf');
}
@font-face {
    font-family: MyriadProBold;
    src: url('fonts/Myriad Pro Bold.ttf');
}

h3{
	font-size:26px;
	font-family: MyriadProBold;
	margin-bottom: 40px;
}

h4{
	font-size:24px;
	font-family: MyriadProSemiBold;
}

h5{
	font-size:22px;
	font-family: "Times New Roman", Times, serif;
}
p{
	margin-bottom: 23px;
	font-size: 20px;
	font-family: MyriadProRegular;
}
p strong{
	font-family: MyriadProSemiBold;	
}
h1{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	margin-bottom: 50px;
}
img{
	max-width: 100%;
}
.backgreen{
	background:#40520A;
}

.backgreen1{
	background:#4b6511;
}
#note_section{
	padding:30px 0;
}

.colgreen{
	color:#40520A;
}

.backlightgreen{
	background: #7ba200;
}

.collightgreen{
	color:#7ba200;	
}

.wrapper{
	max-width: 1164px;
	margin: 0 auto;
	padding:0px 157px 50px;
    box-shadow: 3px 0px 3px -2px #ddd, -1px 0px 3px 0px #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.presgavidtop{
	max-width: 640px;
	margin: 0 auto;
}

.sub_wrapper{
	max-width: 550px;
	margin: 0 auto;
}

.sub850_wrapper{
	max-width: 850px;
	margin: 0 auto;
}
.sub680_wrapper{
	max-width:680px;
	margin: 0 auto;
}
.backbrown{
	background:#5b4c27;
}

.coldarkbrown{
	color:#412102;
}

.backlightbrown{
	background:#fbefcf;
}
div.bullet_wrapper{
	display:flex;
	align-items: center;
	margin:15px 0;
}
ul.xlist{
	list-style-image: url('imgs/x-bullet.png');
}

.bullet_wrapper span{
	padding-left: 20px;
	font-size: 16px;
	display: inline-block;
}
.bullet_wrapper p{
	padding-left: 20px;
	font-size: 20px;
	margin-bottom: 0;
}

div.atop_wrapper{
	display: flex;
	align-items: flex-start;
}

.atop_wrapper p{
	padding-left: 20px;
	font-size: 20px;
}
.testi_block:nth-child(2n+1){
	background: url('imgs/testi_green_back.png') left top no-repeat;
	background-size: cover;	
}

.testi_block:nth-child(2n){
	background: url('imgs/testi_2_lightgreen_back.png') left top no-repeat;
	background-size: cover;
}
.testi_block{
	margin-bottom: 40px;
	padding:115px 40px;
	position: relative;
}
#video_test_wrapper .sub680_wrapper:nth-child(2n+1){
	background:#cadc8c;
	border:2px solid #d4e0a9;
}
#video_test_wrapper .sub680_wrapper span{
	padding-top: 15px;
}
#video_test_wrapper .sub680_wrapper .text-right span{
	font-family: MyriadProSemiBold;
}

#video_test_wrapper .sub680_wrapper .text-right span + br + span{
	font-family: MyriadProRegular;
	color:#808080;
}

#video_test_wrapper .sub680_wrapper .presgavidtop{
	margin-bottom:15px;
}

#video_test_wrapper .sub680_wrapper{
	margin-bottom: 50px;
	padding-top:15px;
	padding-bottom: 15px;
}
#video_test_wrapper .sub680_wrapper:nth-child(2n){
	background:#eff7d6;
	border:2px solid #e5edcd;
}
.faq_back:nth-child(2n+1){
	background:#d8e5ab;
	border:2px solid #d4e0a9;
}

.faq_back:nth-child(2n){
	background:#eff7d6;
	border:2px solid #e5edcd;
}

.faq_back{
	padding:30px 50px 40px 25px;
	margin-bottom: 15px;
}

.faq_back .atop_wrapper img{
	margin-top: 13px;
}
#singup_btn{
	background: #7ea80f;
	padding:20px 120px;
	border-bottom: 10px solid #4f7c04;
	border-radius:4px;
	color:white;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 26px;
	display: inline-block;
}

.full_width{
	margin-left: -157px;
	margin-right: -157px;	
}

.mt-70{
	margin-top: 70px;
}

.mt-30{
	margin-top: 30px;
}

.mt-40{
	margin-top: 40px;
}

.colred{
	color:#d40000;
}

.colwhite{
	color:#fff;
}

#who_am_i_text{
	padding:60px 45px 50px;
}

.colyellow{
	color:#ffc537;
}

.video_course_wrapper {	
    max-width: 850px;
    margin: 0 auto;
}

.vc_white_back{
	background: white;
	padding:15px 10px;
	margin-bottom: 50px;
}

.vc_content{
	border:4px solid #40520A;
	padding:50px 30px;
}

h2{
	font-family: "Times New Roman", Times, serif;	
	font-weight: bold;
}

.vc_content_header.atop_wrapper p{
	padding-left: 0;
}

.vc_content_header img{
	margin-left: -40px;
	margin-right: 30px;
}

hr{
	max-width: 440px;
	border-top: 1px solid #37490e;
}

.month_wrapper{
	border:1px solid #aaa;
}

.month_wrapper p{
	font-size: 15px;
	padding:15px;
}

.peers_say_section{
	padding-bottom: 40px;
	border-bottom: 1px solid #aaa;
	margin-bottom: 30px;
}

.testi_block img{
	position: absolute;
	right: 30px;
}

.backlightgrey{
	background:#f8f8f8;
}

.pt-70{
	padding-top:70px;
}

.pt-40{
	padding-top: 40px;
}

.pb-40{
	padding-bottom: 40px;
}

.pb-70{
	padding-bottom: 70px;
}

#village_section{
	background-image: linear-gradient(bottom, #4b6511 80%, #fff 20%);
	background-image: -o-linear-gradient(bottom, #4b6511 80%, #fff 20%);
	background-image: -moz-linear-gradient(bottom, #4b6511 80%, #fff 20%);
	background-image: -webkit-linear-gradient(bottom, #4b6511 80%, #fff 20%);
	background-image: -ms-linear-gradient(bottom, #4b6511 80%, #fff 20%);
}

#village_section div{
	position: relative;
}

#village_section h3{
    position: absolute;
    left: 50%;    
    width: 100%;
    transform: translateX(-50%);
}
#village_section #master_logo{
	position: absolute;
	transform: translateX(-50%);
	bottom: 40px;
}

#village_section h2{
	margin-bottom: 0;
	padding:30px;
	color: white;
}

#monthly_course_section .row{
	margin-bottom: 30px;
}
#monthly_course_section{
	padding: 0 30px;
}

@media screen and (max-width: 850px){
	.wrapper{				
		padding:0px 30px 50px;	    
	}

	.full_width{
		margin-left: -30px;
		margin-right: -30px;
	}

	.mt-70{
		margin-top: 40px;
	}
	.mt-40{
		margin-top: 20px;
	}
	.mt-30{
		margin-top: 15px;
	}

	.pt-70{
		padding-top: 40px;
	}

	.pb-70{
		padding-bottom: 40px;
	}
}